.slider {
  max-width: 600px;
  height: 200px;
  position: relative;
}
.slide1 {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(../images/SNBlogo.png)no-repeat center;
  float: left;
  background-size: contain;
  animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;

} 
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}